<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/new" method="post">
      <label for="message">
        Enter Message:
        <input type="text" name="msg" />
      </label>
      <label for="message">
        Username:
        <input type="text" name="user" />
      </label>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
